/*
Colours used:
Primary colour (Light Grey): #D6DDE3;
Secondary colour (Dark Grey): #394956;
Other Colours (Cream): #F5F4F2
Other colour (Light Blue): #3197D6;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #D6DDE3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #394956;
}

h1, h3{
  font-family: 'Khula', sans-serif;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 1.2em;
  font-weight: 700;
}

h2, {
  font-family: 'Spinnaker', sans-serif;
}

h2 {
  font-size: 1.2em;
  font-weight:300;

}

h3 {
  font-size: 1.0em;
  font-weight: 800;
  margin-bottom: 2px;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  color: #3197D6;
  text-decoration: none;
}

a:visited {
  color: #994c30;
}

a:hover,
a:focus {
  color: #D18DCF;
  text-decoration: none;
}


ul.navigation a {
  color: #3197D6;
  margin-right: 10px;
}

nav > ul > li > a {
    color: #3197D6;
}

/*
nav > ul > li > a:visited {
    color: #994c30;
}
*/
nav > ul > li > a:hover, a:focus {
  color: #D18DCF;
  text-decoration: none;
}

/*
a:active {
  color: #994c30;
}
*/
.button {
  display: inline-block;
  background-color: #3197D6;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #394956;
  transition: 0.2s opacity;
}

.button:active {
  color: #994c30;
}

a.button {
  color: white;
}


.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #3197D6;
  text-transform: uppercase;
  border: 2px solid #3197D6;
}

.socialimage {
  width: 40px;
  height: 40px;
  margin: 15px 4px;
}


header {
  width: 100%;
  background-color: #394956;
  margin: 10px 0;
  padding: 10px 0 4px;
  box-shadow: -1px 11px 9px -5px rgba(0,0,0,0.79);
-webkit-box-shadow: -1px 11px 9px -5px rgba(0,0,0,0.79);
-moz-box-shadow: -1px 11px 9px -5px rgba(0,0,0,0.79);
  position: fixed;
}

/* Layout styling*/

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

/*#work .row {
  padding-bottom: 25x; border-bottom: 1px solid #4a4a4a;
}*/

#hero h1 {
  text-align: center;
  color: #ffffff;
}

#hero h2 {
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-top: 0px;
}

.logo {
  max-width: 150px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/*
nav {
  display: inline-block;
  width: 100%;
}
*/

nav > ul > li> a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #394956;
}

#hero {
  background-color: #394956;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}

.blurb {
  color: #ffffff;
  text-align: center;
}

#hero p {
  font-size: 0.75em;
}

#work h2 {
  text-align: center;
  color: #3197D6;
}

#work p {
  text-align: justify;
}

#about-page p {
  text-align: justify;
}

#project p {
  text-align: justify;
}


footer {
  background-color: #394956;
  padding: 15px 0;
}

#contact p {
  color: #ffffff;
  text-align: center;
}

#abcopy p {
  color: #ffffff;
  text-align: center;
}

#work h2 {
  margin-top: 40px;
}

#about-page h1, h2 {
  text-align: center;
  color: #3197D6;
}

.button.center {
margin: 0 0 0 90px;
text-decoration: none;
}


.smalltop {
  margin-top: 0px;
}

/*
#projectcopy p {
  color: #ffffff;
  text-align: center;
}
*/

.centbutton {
  margin: 0 auto;
}


.animal {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {fill: #EDC655;}
  to {fill: #f76414;}
}


@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}



.download {
margin-left: 42px;
}




.middle {
  padding: 0 35px;
  margin-top: 12px;

}

#contact .button {
  margin-left: 93px;
}


#about-page main {
  margin-top: 0px;
}

.mywork {
  padding-top: 125px;
}

.mycv {
  margin: 10px 42px 10px;
}

#about-page ul {
  padding-left: 0;
  margin-top: 0;
}


.navtoggle li:not(:last-child) {
  display: none;
}


.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

main {
  padding-top: 55px;
}


.navtoggle.responsive li {
  display: block;
}




/*===================================
Medium devices (640px or larger)
===================================*/
@media only screen and (min-width: 640px) {




header {
  text-align: unset;
  padding: 20px 0 13px 15px;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

body {
  font-size: 1.0em;
  line-height: 1.2em;
}

#hero h2 {
  letter-spacing: 4px;
}

#hero span {
  display: block;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h3 {
  margin-top: 0;
}

#about-page h1 {
  margin-top: 25px;
}

main {
  padding-top: 99px;
}

.blurb {
  padding: 0 38px;

}

#about-page .download {
margin-left: 203px;
}

#mainn h3 {
  margin-top: 0;
}


.animal {
  width: 100%;
}


#mainn footer p {
  padding: 0 92px;
}

#project footer p {
  padding: 0 92px;
}


#about-page footer p {
  padding: 0 92px;
}

.proj {
  margin-left: 154px;
}

#project .proj {
  margin-left: 154px;
}

#contact .middle {
  padding: 0 194px;
  margin-top: 12px;
}

#about-page main {
    padding-top: 99px;
  }


}

#about-page .button.download {
margin-left: 203px;
}



#about-page footer .button.download {
margin-left: 247px;
margin-top: 13px;
}

.logo {
  max-width: 50px;
}



.navtoggle li:not(:last-child) {
  display: none;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}


/*
#about-page footer p {
  padding: 0 92px;
}
*/

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}



}

/*===================================
Large devices (1024px or larger)
===================================*/
@media only screen and (min-width: 1024px) {

  header {
    text-align: unset;
    padding: 20px 0 13px 15px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }



body {
  font-size: 1.5em;
  line-height: 1.6em;

}

#hero {
  text-align: center;
}

#hero span {
  display: block;
}

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

.col-md-5 {
  width: 41:67%;
}

.col-md-7 {
  width: 58.33%;
}






}

/*===================================
x-Large devices (1440px or larger)
===================================*/
@media only screen and (min-width: 1440px) {

body {
  font-size: 1.75em;
}

h2 {
  font-size: 2.0em;
}

footer {
  padding: 15px 40px;
}

.logo {
  padding-top: 22px;

}




}
