/*
Colours used:
Primary colour (Light Grey): #D6DDE3;
Secondary colour (Dark Grey): #394956
Other Colours (Cream): #F5F4F2
Other colour (Light Blue): #3197D6
*/



body {
  background-color: #D6DDE3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #394956;
}

h1{
  font-family: 'Khula', sans-serif;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-family: 'Spinnaker', sans-serif;
}

h2 {
  font-size: 1.75em;
  font-weight:300em;

}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  color: #12505a;
  text-decoration:  none;
}
/*
a:visited {
  color: #994c30;
}
*/
a:hover,
a:focus {
  color: #D18DCF;
  text-decoration: none;
}

a:active {
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #3197D6;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #394956;
  transition: 0.2s opacity;
}

.button:active {
  color: #994c30;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #3197D6;
  text-transform: uppercase;
  border: 2px solid #3197D6;
}


.socialimage {
  width: 25px;
}

header {
  background-color: #394956
}
